@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-300 font-mono antialiased;
    background-image: radial-gradient(#27272a 1px, transparent 1px);
    background-size: 24px 24px; 
  }
  
  ::selection {
    @apply bg-green-500 text-black;
  }
}

@layer utilities {
  .glitch-text {
    text-shadow: 2px 2px 0px #ff00ff, -2px -2px 0px #00ff00;
  }
}